.topbar-area {
    padding: 8px;
    background: var(--main);
    color: var(--white);
    font-size: 12px;
}
.topbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar-social i {
    margin-right: 15px;
}
.topbar-phone-email{
    display: flex;
}
.topbar-phone-email i{
    margin-left: 15px;
}